---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 120
PointerAlignment: Right
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: false
SpaceAfterCStyleCast: true
AllowShortCaseLabelsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
