/obj
/debug
/bin
/dep
/src/glyphs.c
/src/glyphs.h
/output-scan-build
/scan-build
concordium-ledger-app-*
.vscode
.idea
**/target/
*.lock
/tests/node_modules
/tests/*.eslintcache
.eslintcache
/tests/bin