/obj
/obj_nano*
/debug
/debug_nano*
/bin
/dep
/dep_nano*
/build
/gen_src_nano*
/src/glyphs.c
/src/glyphs.h
/output-scan-build
/scan-build
concordium-ledger-app-*
.vscode
.idea
**/target/
*.lock
/tests/node_modules
/tests/*.eslintcache
.eslintcache
/tests/bin
/tests/snapshots-tmp
/unit_tests/build
/unit_tests/coverage
/unit_tests/coverage*
