[submodule "nanos-secure-sdk"]
	path = nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk.git
[submodule "nanox-secure-sdk"]
	path = nanox-secure-sdk
	url = https://github.com/LedgerHQ/nanox-secure-sdk.git
[submodule "nanosplus-secure-sdk"]
	path = nanosplus-secure-sdk
	url = https://github.com/LedgerHQ/nanosplus-secure-sdk.git
